body{
    margin: 0px;
   font-family:Microsoft YaHei;
    min-width: 1000px;
}
ul{list-style: none;}
.pag_top{
     width: 100%;
     height: 60px;
     background:url(../img/3.jpg) top  center ;
 }
a{ color:#333; /*无链接时颜色*/ }
a:hover{ color:#F00;/*鼠标经过链接时颜色*/}
a:active{ color:#30F; /*鼠标点击链接时颜色*/}
a:link { text-decoration: none;}
.try{
    position: relative;
    left: 320px;
}
.header{
    width: 1339px;
    height: 170px;
    min-width: 100%;
}
.header_top{
    width: 1339px;
    height: 30px;
    background-color: #e7e7e7;
    font-size: 14px;
    font-family: "microsoft yahei";
    background: url("../img/2.jpg");
    min-width: 100%;
}
*{margin:0px; }
.nav_login_menu{
    height: 29px;
    width: 150px;
    background: url("../img/4.jpg");
    float: left;
    position: absolute;
    left:40px;
}
.nav_login_menu a{
    margin:15px;
    font-weight: bold;
}
.nav_login_menu li {
     float: left;
     display: inline;
     overflow: visible;
     overflow-x: visible;
     overflow-y: visible;
     height: 30px;
     line-height: 30px;
 }
.inner_nav_servise{
    height: 29px;
    width: 592px;
    background: url("../img/3.jpg");
    float: right; display: inline;
}
.inner_nav_servise li{
    display: inline;
    padding: 0 12px;
    position: relative;
    height: 29px;
    line-height: 29px;
    z-index: 9999;
}
.out{
    width:100px;position:relative;display: inline-block;
}
.in{width:100px;height:100px;display:none;position:absolute;left:0;top:15px;z-inde:5;}
.inner_nav_servise li:last-child{
    font-size: 10px;
    color: dimgray;
}

.header_search{
    width: 1339px;
    height: 100px;
    background-color: #f6f6f6;
    min-width: 100%;
}
.search_inner{
    width: 1190px;
    min-width: 100%;
}
.logo{
    width: 171px;
    height: 55px;
    position: relative;
    left: 100px;
    top:20px;
}
.logo a img{
    width: 290px;
    display: block;
    position: absolute;
    z-index: 2;
    top: -28px;
    left: -35px;}
.position{
    width: 110px;
    height: 39px;
    float: left;
    position: relative;
    left: 372px;
    top:-25px;
    cursor: pointer;
}
.local{
    position: absolute;
    left: 60px;

}
.position img{
    width: 55px;
}
.position span{font-size: 7px;
    color: #000099;}
.search_box{
    width: 492px;
    height: 36px;
    margin: 0 auto;
    position: relative;
    left: 10px;
    top:-25px;
    float: none;
}

.insearchbox{
    position: absolute;
    left: 60px;
    top: -5px;
    width: 492px;
    height: 40px;
    background-color: #055875;
    display: block;
    border: solid #055875;
    border-width: 5px;
}
.select{
    width: 93px;
    height: 40px;
    position: absolute;
    left: -1px;
background-color:#F4FBF3;
    border-right: 1px solid#a2bfcd;
    z-index: 8;
}
.select i img{
    width: 12px;
    position: absolute;
    left: 74px;
    top: 18px;  }
.select span{
    font-size: 15px;
    color: #a3a3a3;
    position: absolute;
    left: 12px;
    top: 11px;

}

.select ul{
    font-size: 15px;
    width: 51px;
    list-style: none;
    color: #a3a3a3;
    background-color: #ffffff;
    position: absolute;
    left: 1px;
    top: 11px;
    z-index: 99;
    display: none;

}
.search_list i img{
    width: 12px;
    position: absolute;
    left: 76px;
    top: 9px;
}
.select ul li{
    text-align: center;
    border-bottom: 1px solid#a3a3a3;
    margin-left: -40px;
    height: 30px;

}
.select ul li:hover{
    background-color:#F4FBF3;

}

.select ul li:nth-child(1){
    background-color:#F4FBF3;
    margin-top: 0px;
    border-bottom: none;
}
.select a{
    color: #a3a3a3;
}

.insearchbox input{
    border: solid #055875;
    border-width: 5px;
    border-left: none;
    position: absolute;
    left: 92px;
    top: -5px;
    width: 345px;
    height: 38px;}
.insearchbox img{
    position: absolute;
    left: 450px;
    top: 1px;
    width: 36px;
    cursor: pointer;}
.hot{
    width: 132px;
    height: 26px;
    background-color: brown;
    position: absolute;
    top: 6px;
    right: 75px;
    margin-left: 10px;
}


/*菜单条*/
.header_nav{
    width: 1339px;
    height: 40px;
    background-color: #016e95;
    min-width: 100%;
}
.nav_out{
    width: 1190px;
    height: 40px;
    margin: auto;
    background-color: #016e95;
}
.nav_out ul{
    /*一级菜单*/
    list-style: none;}
.nav_out ul li{
    float: left;line-height: 37px;
    text-align: center;
    position: relative;
    margin: auto;
}
.nav_out ul li a{
    display: block;
    height: 40px;
    padding: 0 20px;
    color: rgb(255, 255, 255);
    font-weight:bold;
}
.nav_out ul li a:hover{
    background-color: #a2bfcd;}
/*二级菜单*/
.nav_in{
    width: 1339px;
    height: 40px;
    background-color: #ffffff;
    position:absolute;
    left: -259px;
    top: 40px;
    display: none;
    z-index: 9;
    min-width: 100%;
}

.nav_in ul{
    position:absolute;
    left: 195px;top: -2px;}
.nav_in ul li a {
    display: inline-block;
    color: #333;
    margin: 7px 5px 0;
    padding: 1px 10px;
    /*这个控制背景块元素大小~*/
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    position: relative;
    vertical-align: top;
    margin-top: 8px;}

.nav_in ul li a:hover{background-color: rgba(1, 128, 175, 0.18);}


.white{
    width: 1339px;
    height: 40px;
    background-color:white;
    display: none;
    position: absolute;
    z-index: 5;

}

/*版面*/
.bodybg {
    width: 1339px;
    height: 3382px;
    background-color: #dfff38;
    min-width: 100%;
}
.tn_main{
    background-size: 100%;
    height: 440px;

}
.background{
    height: 440px;
    margin: 0 auto;
    background-image: url("../img/bg0.jpg");
    min-width: 100%;
}
.bgout{

    height: 440px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url("../img/bg0.jpg");
    min-width: 100%;
}
.bgin{width: 500px;
    height: 25px;
    margin: auto;
    background-color: #d8f4dd;
    position: relative;
    top: 141px;
    filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6;  }

.bgin ul{
    /*使UL填满div*/
    margin:0; padding:0;}
.bgin li{ list-style: none;
    width: 100px;
    height: 25px;
    float: left;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}
.bgin a{display: block;padding: 3px 30px;}
.bgin a:hover{color: #000000;
background-color: #a3a3a3
}


.center{
    width: 800px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    top: 312px;
}
.center ul{
    width: 720px;
    height: 122px;
    margin: 5px auto;/*居中*/
    overflow: hidden;
    display: inline-block;
    position: absolute;
    left: 60px;


}
.center ul:hover li{
    width: 90px;
}
.center ul li:hover{
    width: 200px;
}
.center ul li{
    list-style: none;
    width: 120px;
    height: 122px;
    float: left;
    border: 1px solid #f0f0f0;
    box-sizing: border-box;
    margin: 0 auto;
    transition-property: width;
    transition-duration: 0.5s;
    transition: 0.5s;
}
.center ul li img{
    height: 120px;
    width: 200px;
}

/*左边一侧导航条*/
.frist_nav{
    width: 84px;
    height: 420px;
    background: #38414c;
    position: absolute;
    left: 110px;
    top: 240px;
    z-index: 2;
}
.first_nav_in{
    width: 84px;
    height: 59px;
    line-height: 54px;
    position: relative;
    z-index: 1;
    border-bottom: 1px dotted #e7e7e7;
    text-align: center;
}
.first_nav_in:hover{
    background-color: #f6f6f6;
}
.first_nav_in a{
     color: #f6f6f6;
     height: 60px;
     font-weight: bold;
 }
.first_nav_in:hover a{
    color: #014863;}
.first_nav_in a:hover{
    p: 0;
    left: -2px;
    width: 86px;
    height: 41px;
}

/*二级导航*/
.second_nav{
    width: 140px;
    height: 425px;
    background: #ffffff;
    position: absolute;
    left: 195px;
    top: 238px;
    z-index: 2;
}
.second_nav_out{
    height: 84px;
    line-height: 54px;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #014863;
    text-align: center;
}
.second_in{
    text-align: center;
    height: 80px;
    margin: 0 auto;
    height: auto;
    cursor: pointer;
}
.in1{
    width: 135px;
    height:30px;
    line-height: 22px;
    padding: 5px 0 0px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
    font-weight: bold;
    font-size: 20px;
}
.second_in .in2{
    height:40px;
    line-height: 22px;
    padding: -2px 0 0px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
    font-size: 15px;
}
.in2 a{color: #727272;}
.search_sencon_nav{
    height: 420px;
    width: 465px;
    background-color: #77ff9f;
    position: absolute;
    top: 240px;
    left:110px;
    z-index: 1;
    display: none;
}
.close_s{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 430px;
    cursor: pointer;
}
.search_sencon_nav img{ width: 25px;}


/*侧边栏*/
.siderbar {
    width: 40px;
    min-height: 100%;
    padding-top: 60px;
    position: fixed;
    top: 0px;
    background-color: #F3E8E2;
    z-index: 100;
    left: 0px;
}
.siderbar a:hover{color: black;}
.siderbar ul{padding-left: 0;text-align:center;
    font-size: 10px;}
.siderbar ul li{ margin-top: 15px;
    border-bottom: dotted #ded3ce;}
.siderbar img{
    width: 20px;
    cursor: pointer;
}
#closes{position: absolute;
    top:440px;
    text-align: center;
    /*可点击*/
    cursor: pointer;
    left: 16px;
}
#closes img{
    width: 15px;
}
#open{position: absolute;
    left: 30px;
    bottom: 85px;
    width: 60px;
    text-align: center;
    cursor: pointer;
    background-color: #F3E8E2;
    font-size: 13px;
    font-weight: bold;
    display: none;
}
.close_content{
    width: 235px;
    position: fixed;
    left: 40px;
    min-height: 92%;
    top:40px;
    background-color: #a3a3a3;
    z-index: 4;
    display: none;
    opacity: 0.7;

}
.close_buttom{cursor: pointer;}



.close_buttom{position:absolute;
    top: 10px;
    right:10px;}
.close_content img{ width: 20px;}

/*右侧调查菜单*/
.finding{
    width: 230px;
    height: 420px;
    background-color: #ffffff;
    position: absolute;
    right: 17px;
    top: 235px;
    display: inline-block;
}
/*便民服务*/

.facility{
    width: 210px;
    height: 213px;
    background-color: #ffffff;
    position: absolute;
    top:200px;
    right: 9px;
}
.facility ul{
     /*让li铺满*/
     list-style: none;
     text-align: center;
     margin: 0px;
     padding: 0px;
     font-size: 10px;

 }
.facility li{
    height: 60px;
    width: 70px;
    float: left;
    margin-top: 10px;
    border-bottom: 1px solid#008000;
}
.facility img{
    width: 30px;

}
.facility a:hover{
    color: #009900;
}
#facility1 i{
    position: relative;
    top: 1px;
}











.foot{
    min-width: 100%;
    height: 220px;
    background-color: #77ff9f;
}

